<div class="container">

  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
    <strong>Error</strong> falla en al autenticación.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <br>

  <span>
    <h4>
      <p> {{ 'Principal_Titulo_1' | translate }}  </p>
    </h4>
    <h6>
      <p> Por favor ingrese su usuario y Contraseña para continuar.</p>
    </h6>
  </span>

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Usuario:</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="username" [(ngModel)]="username" aria-describedby="emailHelp"
        placeholder="Usuario">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña:</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" id="exampleInputPassword1" placeholder="Contraseña ">
    </div>
    <br>
    <div class="row" style="padding-left: 0px">
      <div class="col-md-2 col-lg-3 col-12">
        <button type="submit" (click)="login()" class="btn btn-ISA" [disabled]="isLoading">Ingresar</button>&nbsp;
      </div>
      <div class="col-md-2 col-lg-3 col-12" *ngIf="this.username != null">
        <button id="btnRecordar" type="button" class="btn btn-ISA" (click)="recordarContrasena()">Recordar contraseña</button>
      </div>
      <div class="col-md-8 col-lg-6 col-12">

      </div>
    </div>
    
  </form>

  <p-confirmDialog></p-confirmDialog>

  <div class="col-md-12" *ngIf="isLoading">&nbsp;
    <div id="spLoading" class="loader2"></div>
  </div>
</div>