<br>
<br>
<div class="container" style="width: 100%">
  <!--Titulos de Bienvenida-->
  <div>
    <h3 class="titulo-Principal">{{ 'Principal_Titulo_1' | translate }}</h3>
    <h4 class="titulo-Principal">{{ 'Principal_Titulo_2' | translate }}</h4>
  </div>
  <div>&nbsp;</div>
  <div class="row" style="padding-left: 0px">
    <div class="col-md-5 col-lg-5 col-12">
      <h3>
          <i class="fas fa-cloud-download-alt"></i> {{'Principal_Manual' | translate}}
      </h3>
      <p class="text-justify">{{'Principal_Manual_Texto' | translate}}</p>
      <button type="button" (click)="getManual()" class="btn btn-ISA">
      <i class="fas fa-cloud-download-alt"></i> {{'Principal_Manual_Descargar' | translate}}</button>
    </div>
    <div class="col-md-2 col-lg-2 col-12">
      &nbsp;
    </div>
    <div class="col-md-5 col-lg-5 col-12">
      <h3>
        <i class="fas fa-cloud-download-alt"></i> {{'Principal_Documentacion' | translate}}
      </h3>
      <p class="text-justify">{{'Principal_Documentacion_Texto' | translate}}</p>
      <button type="button" (click)="getDocumentacion()" class="btn btn-ISA">
      <i class="fas fa-cloud-download-alt"></i> {{'Principal_Documentacion_Descargar' | translate}}</button>
    </div>
  </div>
  
  <div>&nbsp;</div>
  <div>&nbsp;</div>
</div>